@import url(http://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */

.dummy {
    margin-top: 100%;
}
.thumbnail {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align:center;
}
img {
    max-height: 150px;
    max-width: 150px;
}